{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="site-content">
    <header>
        <h1>{{tag.name}}</h1>
        {{#if tag.description}}
            {{tag.description}}
        {{else}}
            A {{pagination.total}}-post collection
        {{/if}}
    </header>
    <div class="content">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
    </div>
</div>
